{% extends "Partials/Gestor/_Base.html" %}
{% load static %}
{% block Title %}
Inicio
{% endblock Title %}
{% block Style %}
{% endblock Style %}
{% block Content %}


<div class="section__content section__content--p30">
	<div class="container-fluid">

		<div class="row">
			<div class="col-md">
				<div class="card">
					<div class="card-header" style="text-align: center;">
						<h2>Empresas</h2>
					</div>
					<div class="card-body">
					<div class="col-md-12" style="text-align: right;">
						<div class="row justify-content-end">
							<div class="col-md-2">
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
								    	<span class="input-group-text" id="inputGroup-sizing-sm">Año</span>
									</div>
									<input type="number" style="text-align: center;" id="Ano" class="form-control" aria-label="Ano" aria-describedby="inputGroup-sizing-sm">
								</div>								
							</div>
							<div class="col-2">
								<button class="btn btn-primary" id="Exportar">Exportar</button>
						    </div>
						 </div>
					</div>
						<div class="table-responsive table--no-card m-b-30">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>Usuario</th>
										<th>Nombre</th>
										<th>Certificación</th>
										<th>Enviado</th>
										<th><input type="checkbox" id="allcheck">Seleccionar</th>
									</tr>
								</thead>
								<tbody>
									{% for i in contacts %}
									<tr >
										<td>{{i.Usuario.username}}</td>
										<td>{{i.Nombre_Empresa}}</td>
										{% if i.Certificado %}
											<td ><i style="color:green"  class="fas fa-check-circle"></i></td>
										{% else %}
											<td><i style="color:red" class="fas fa-times"></i></td>
										{% endif %}
										{% if i.Estado %}
											<td ><i style="color:green"  class="fas fa-check-circle"></i></td>
										{% else %}
											<td><i style="color:red" class="fas fa-times"></i></td>
										{% endif %}
										<td><input type="checkbox" name="check" id="{{i.pk}}"></td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
						<div class="row">
					      <ul class="pagination">
					        {% if contacts.has_previous %}
					        <li class="page-item">
					          <a class="page-link" href="?page={{ contacts.previous_page_number }}{{searchFilter}}">Anterior</a>
					        </li>
					        {% else %}
					        <li class="page-item disabled">
					          <a class="page-link">Anterior</a>
					        </li>
					        {% endif %} {% if contacts.number|add:'-4' > 1 %}
					        <li><a href="?page={{ contacts.number|add:'-5' }}{{searchFilter}}">&hellip;</a></li>
					        {% endif %} {% for i in contacts.paginator.page_range %} {% if contacts.number == i %}
					        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
					        {% elif i > contacts.number|add:'-5' and i < contacts.number|add:'5' %} <li><a href="?page={{ i }}{{searchFilter}}">{{i}}</a></li>
					          {% endif %} {% endfor %} {% if contacts.paginator.num_pages > contacts.number|add:'4' %}
					          <li><a href="?page={{ contacts.number|add:'5' }}{{searchFilter}}">&hellip;</a></li>
					          {% endif %} {% if contacts.has_next %}
					          <li class="page-item">
					            <a class="page-link" href="?page={{ contacts.next_page_number }}{{searchFilter}}">Siguiente</a>
					          </li>
					          {% else %}
					          <li class="page-item disabled">
					            <a class="page-link">Siguiente</a>
					          </li>
					          {% endif %}
					      </ul>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock Content %}
{% block JavaScript %}
<script>
$(document).ready(function(){
	$("#allcheck").click(function(event) {
		if($("input[name^='check']").prop("checked")){
			$("input[name^='check']").prop("checked",false);		
		}else{
			$("input[name^='check']").prop("checked",true);		
		}
	});
	function getCookie(name){
      var cookieValue = null;
      if (document.cookie && document.cookie != ''){
          var cookies = document.cookie.split(';');
          for(var i = 0; i < cookies.length; i++){
              var cookie = jQuery.trim(cookies[i]);

              if(cookie.substring(0,name.length + 1) == (name + '=')){
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue
    }

	$("#Exportar").on('click', function(e) {
		var empresas = []
		{% for i in contacts %}
			if($("#{{i.pk}}").prop("checked")){
				empresas.push("{{i.pk}}");
			}
		{% endfor %}
	$.ajax({
          url:'{% url "Exportar_Empresa" %}',
          type: "POST",
          data: {
            csrfmiddlewaretoken: getCookie('csrftoken'),
            'empresa':String(empresas),
            'ano' : $("#Ano").val(),
          },
          success: function() {
		    e.preventDefault();  //stop the browser from following
		    window.location.href = "{% static 'Empresas/Empresa.xlsx' %}";
		}                                          
        });
	});
});
</script>
{% endblock JavaScript %}