{% extends "Partials/Gestor/_Base.html" %}
{% load static %}
{% block Title %}
Inicio
{% endblock Title %}
{% block Style %}
<style>
   .container {
  display: block;
  position: relative;
  padding-left: 50px;
  margin-bottom: 0px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: relative;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {

  position: relative;
  padding-left: 25px;
  padding-bottom: 0px; 
  padding-right: 0px;
  margin-right: 10px;
  padding-top: 0px;
  margin-bottom: 10px;
  top: 3px;
  left: 0px;
  bottom: 0px;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 10px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
</style>
{% endblock Style %}
{% block Content %}

<div class="section__content section__content--p30" > 
	<div class="container-fluid">

		<div class="row">
			<div class="col-md">
				<div class="card">
					<div class="card-header" style="background-color: rgb(82,183,78) "> 
						
					<a href="{% url 'Info_Flota' Flota.Empresa.pk %}">
						<button id="atras" class="btn btn-success"><-Atras</button>	
					</a>
					  	<div  class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
								<a class="nav-item nav-link active" id="nav-Datos-tab" data-toggle="tab" href="#nav-Datos" role="tab" aria-controls="nav-Datos" aria-selected="true" style="color:rgb(85,85,89)">Datos</a>

								<a class="nav-item nav-link" id="nav-Operaciones-tab" data-toggle="tab"  href="#nav-Operaciones" role="tab" aria-controls="nav-Operaciones" aria-selected="true" style="color:rgb(85,85,89)">Operaciones</a>

								<a class="nav-item nav-link" id="nav-Equipo-tab" data-toggle="tab"  href="#nav-Equipo" role="tab" aria-controls="nav-Equipo" aria-selected="true" style="color:rgb(85,85,89)">Equipos</a>
								<a class="nav-item nav-link" id="nav-Industria-tab" data-toggle="tab"  href="#nav-Industria" role="tab" aria-controls="nav-Industria" aria-selected="true" style="color:rgb(85,85,89)">Industria</a>
					  	</div>
					</div>
					<div class="card-body">
						<div class="tab-content" id="nav-tabContent">
							<div class="tab-pane fade show active" id="nav-Datos" role="tabpanel" aria-labelledby="nav-Datos-tab">
									<input type="text" name="action" value="FlotaInfo" hidden>
									<h1 class="text-center title-2">Datos</h1>
									<div class="row form-group">
							           	<div class="col-md-12">
											<label for=""><strong>Nombre de la Flota</strong></label>
											<i tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="hola" class="fas fa-question-circle"></i>
											<input type="text" class="form-control" value="{{Flota.Nombre}}" disabled="True">
							          	</div>
							        </div>
							        
							        <div class="form-group">
							        	<div class="row">
							        		
								          	<div class="col-md-8" >
								          		<label for=""><strong>Zona</strong><i tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="hola" class="fas fa-question-circle"></i></label>
												{% for i in Region%}
													<div>
														<input type="text" class="form-control" disabled="True" value="{{i.get_Region_display}}">
													</div>
												{% endfor %}
								          	</div>
							        	</div>
							        </div>
							</div>
							
							<div class="tab-pane fade show" id="nav-Operaciones" role="tabpanel" aria-labelledby="nav-Operaciones-tab">
							

									<h1 class="text-center title-2">Tipo de Operación</h1>
									<hr>
									<br>
									<div class="row form-group">
										<div class="col-md-3">
											<label for="">Carga Completa<i tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="hola" class="fas fa-question-circle"></i></label>
												
											<input type="text" disabled="True" value="{{Operacion.Carga_Completa}}" class="form-control">
											
										</div>
										<div class="col-md-3">
											<label for="">Carga Parcial<i tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="hola" class="fas fa-question-circle"></i> &nbsp;&nbsp;&nbsp;&nbsp;</label>
											<br>
											<input type="text" disabled="True" value="{{Operacion.Carga_Parcial}}" class="form-control">
										</div>
										<div class="col-md-3">
											<label for="">Carga Contenedores<i tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="hola" class="fas fa-question-circle"></i></label>

											<input type="text" disabled="True" value="{{Operacion.Carga_Contenedores}}" class="form-control">
										</div>
										<div class="col-md-3">
											<label for="">Carga Mixta<i tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="hola" class="fas fa-question-circle"></i> &nbsp;&nbsp;&nbsp;&nbsp;</label>

											<input type="text" disabled="True" value="{{Operacion.Mixto}}" class="form-control">
										</div>
										<div class="col-md-3">
											<label for="">Paqueteria<i tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="hola" class="fas fa-question-circle"></i> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</label>
											<input type="text" disabled="True" value="{{Operacion.Paqueteria}}" class="form-control">
										</div>
										<div class="col-md-3">
											<label for="">Otras<i tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="hola" class="fas fa-question-circle"></i> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</label>
											<input type="text" disabled="True" value="{{Operacion.Otro}}" class="form-control">
										</div>

									</div>
									<br>
									<div class="row">
										<div class="col-md-12" align="center">
											<h3>Carga Total</h3>
											<input type="text" id="Total" value="{{Total_Operacion}}" style="text-align: center;" disabled="true" readonly>
										</div>
									</div>
									<br>
							</div>
							<div class="tab-pane fade show" id="nav-Equipo" role="tabpanel" aria-labelledby="nav-Equipo-tab">
								<div class="row">
										<div class="col-md-12" align="center">
											<h1 class="text-center title-2">Tipo de Equipo</h1>
										</div>
									</div>
									<hr>
									<br>

									<!--  -->
									<div class="row form-group">
										<div class="col-md-12 col-sm-12 col-12 col-lg-4" align="">
											<label class="container">
											  <input type="checkbox" disabled="True" name="Pl">
											  <span class="checkmark"></span>
											  Plano
											</label>
										</div>
										<div class="col-md-12 col-sm-12 col-12 col-lg-4" align="">
											<label class="container">
											  <input type="checkbox" disabled="True" name="Es">
											  <span class="checkmark"></span>
											  Estanque
											</label>
										</div>
										<div class="col-md-12 col-sm-12 col-12 col-lg-4" align="">
											<label class="container">
											  <input type="checkbox" disabled="True" name="Gr">
											  <span class="checkmark"></span>
											  Granel
											</label>
										</div>
										
									</div>
									<br>
									

									<div class="row form-group">
										<div class="col-md-12 col-sm-12 col-12 col-lg-4" align="">
											<label class="container">
											  <input type="checkbox" disabled="True" name="Mi">
											  <span class="checkmark"></span>
											  Mixer
											</label>
										</div>
										<div class="col-md-12 col-sm-12 col-12 col-lg-4" align="">
											<label class="container">
											  <input type="checkbox" disabled="True" name="Ot">
											  <span class="checkmark"></span>
											  Otros
											</label>
										</div>
										<div class="col-md-12 col-sm-12 col-12 col-lg-4" align="">
											<label class="container">
											  <input type="checkbox" disabled="True" name="Tr">
											  <span class="checkmark"></span>
											  Transporte de Vehículos
											</label>
										</div>
									</div>
									<br>
									<div class="row form-group">
										<div class="col-md-12 col-sm-12 col-12 col-lg-4" align="">
											<label class="container">
											  <input type="checkbox" name="Co" disabled="True" value="off">
											  <span class="checkmark"></span>
											  Contenedor o cortina
											</label>
										</div>

										<div class="col-md-12 col-sm-12 col-12 col-lg-4" align="">
											<label class="container">
											  <input type="checkbox" disabled="True" name="Re">
											  <span class="checkmark"></span>
											  Refrigerador
											</label>
										</div>

									</div>
							</div>
							<div class="tab-pane fade show" id="nav-Industria" role="tabpanel" aria-labelledby="nav-Industria-tab">
							
								<div class="row">
										<div class="col-md-12" align="center">
											<h1 class="text-center title-2">Tipo de Industria</h1>
											<p>Seleccione el tipo de industria que presenta su flota</p>
										</div>
								</div>
									<hr>
									<br>

									<!--  -->
									<div class="row form-group">
										<div class="col-md-12 col-sm-12 col-12 col-lg-4" align="">
											<label class="container">
											  <input type="checkbox" name="Agr" disabled="True">
											  <span class="checkmark"></span>
											  Agricultura
											</label>
										</div>
										<div class="col-md-12 col-sm-12 col-12 col-lg-4" align="">
											<label class="container">
											  <input type="checkbox" name="Com" disabled="True">
											  <span class="checkmark"></span>
											  Comercio
											</label>
										</div>
										<div class="col-md-12 col-sm-12 col-12 col-lg-4" align="">
											<label class="container">
											  <input type="checkbox" name="Min" disabled="True">
											  <span class="checkmark"></span>
											  Mineria
											</label>
										</div>
										
									</div>
									<br>
									

									<div class="row form-group">
										<div class="col-md-12 col-sm-12 col-12 col-lg-4" align="">
											<label class="container">
											  <input type="checkbox" name="Ali" disabled="True">
											  <span class="checkmark"></span>
											  Alimentacion
											</label>
										</div>
										<div class="col-md-12 col-sm-12 col-12 col-lg-4" align="">
											<label class="container">
											  <input type="checkbox" name="Con" disabled="True">
											  <span class="checkmark"></span>
											  Construccion
											</label>
										</div>
										<div class="col-md-12 col-sm-12 col-12 col-lg-4" align="">
											<label class="container">
											  <input type="checkbox" name="Mad" disabled="True">
											  <span class="checkmark"></span>
											  Madera
											</label>
										</div>
									</div>
									<br>
									<div class="row form-group">
										<div class="col-md-12 col-sm-12 col-12 col-lg-4" align="">
											<label class="container">
											  <input type="checkbox" name="Otr" value="off" disabled="True">
											  <span class="checkmark"></span>
											  Otros
											</label>
										</div>

									</div>
							</div>
						</div>
						
					</div>	
					
				</div>

			</div>
		</div>
	</div>
</div>

{% endblock Content %}
{% block JavaScript %}
<script>
$(document).ready(function(){

	{% for i in Equipo %}
		$("input[name={{i}}]").prop('checked', true);
	{% endfor %}
});
</script>
{% endblock JavaScript %}