{% extends "Partials/Gestor/_Base.html" %}
{% load static %}
{% block Title %}
Inicio
{% endblock Title %}
{% block Style %}
<style>
	.btn-green {
		background-color: green;
		border-color: white;
		color:white;
	}
	.btn-red {
		background-color: red;
		border-color: white;
		color:white;
	}
	.i-red {
		color:red;
		
	}
	.i-green{
		color:green;
	}
</style>
{% endblock Style %}
{% block Content %}

<div class="section__content section__content--p30">
	<div class="container-fluid">

		<div class="row">
			<div class="col-md">
				<div class="card">
					<div class="card-header" style="text-align: center;">
						<h2>Empresas</h2>
					</div>
					<div class="card-body">
						<div class="table-responsive table--no-card m-b-30">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>Usuario</th>
										<th>Nombre</th>
										<th>Certificación</th>
										<th>Completado</th>
										<th>Acción</th>
									</tr>
								</thead>
								<tbody>
									{% for i in contacts %}
									<tr >
										<td>{{i.0.Usuario.username}}</td>
										<td>{{i.0.Nombre_Empresa}}</td>
										{% if i.0.Certificado %}
											<td ><i class="fas fa-check-circle i-green" id="i{{i.0.pk}}"></i></td>
										{% else %}
											<td><i class="fas fa-times i-red" id="i{{i.0.pk}}"></i></td>
										{% endif %}
										{% if i.0.Estado %}

											<td ><i style="color:green"  class="fas fa-check-circle" title="{{i.1}}%" data-toggle="popover" data-placement="right" data-content="{{i.1}}%"></i></td>
										{% else %}
											<td><i style="color:red" class="fas fa-times"></i></td>
										{% endif %}
										<td>
											<a href="{% url 'Info_Detallada' i.0.pk %}"><button class="btn btn-primary">Ver Más</button></a>
											{% if i.0.Certificado %}
												<button class="btn btn-red" id="hab{{i.0.pk}}" value="hab">Quitar Certificado</button>
											
											{% else %}
												<button class="btn btn-green" id="hab{{i.0.pk}}" value="des">Certificar</button>
											{% endif %}
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>

						<div class="row">
					      <ul class="pagination">
					        {% if contacts.has_previous %}
					        <li class="page-item">
					          <a class="page-link" href="?page={{ contacts.previous_page_number }}{{searchFilter}}">Anterior</a>
					        </li>
					        {% else %}
					        <li class="page-item disabled">
					          <a class="page-link">Anterior</a>
					        </li>
					        {% endif %} {% if contacts.number|add:'-4' > 1 %}
					        <li><a href="?page={{ contacts.number|add:'-5' }}{{searchFilter}}">&hellip;</a></li>
					        {% endif %} {% for i in contacts.paginator.page_range %} {% if contacts.number == i %}
					        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
					        {% elif i > contacts.number|add:'-5' and i < contacts.number|add:'5' %} <li><a href="?page={{ i }}{{searchFilter}}">{{i}}</a></li>
					          {% endif %} {% endfor %} {% if contacts.paginator.num_pages > contacts.number|add:'4' %}
					          <li><a href="?page={{ contacts.number|add:'5' }}{{searchFilter}}">&hellip;</a></li>
					          {% endif %} {% if contacts.has_next %}
					          <li class="page-item">
					            <a class="page-link" href="?page={{ contacts.next_page_number }}{{searchFilter}}">Siguiente</a>
					          </li>
					          {% else %}
					          <li class="page-item disabled">
					            <a class="page-link">Siguiente</a>
					          </li>
					          {% endif %}
					      </ul>
					    </div>
					</div>
				</div>
			
			</div>
		</div>
	</div>
</div>

{% endblock Content %}
{% block JavaScript %}
<script>
	$(document).ready(function(){
	function getCookie(name){
      var cookieValue = null;
      if (document.cookie && document.cookie != ''){
          var cookies = document.cookie.split(';');
          for(var i = 0; i < cookies.length; i++){
              var cookie = jQuery.trim(cookies[i]);

              if(cookie.substring(0,name.length + 1) == (name + '=')){
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue
    }
{% for i in contacts %}
$("#hab{{i.0.pk}}").on('click', function(event) {

	$.ajax({
          url:'{% url "Certifi" i.0.pk %}',
          type: "POST",
          data: {
            csrfmiddlewaretoken: getCookie('csrftoken'),
          },
          success: function() {
		    if($("#hab{{i.0.pk}}").val() == "des"){
		    	$("#hab{{i.0.pk}}").val("hab");
		    	$("#hab{{i.0.pk}}").text("Quitar Certificado");
		    	$("#hab{{i.0.pk}}").removeClass('btn-green');
  				$("#hab{{i.0.pk}}").addClass('btn-red');
		    	$("#i{{i.0.pk}}").removeClass('fa-times');
		    	$("#i{{i.0.pk}}").removeClass('i-red');
		    	$("#i{{i.0.pk}}").addClass('fa-check-circle');
		    	$("#i{{i.0.pk}}").addClass('i-green');
		    }else{
		    	$("#hab{{i.0.pk}}").val("des");
		    	$("#hab{{i.0.pk}}").removeClass('btn-red');
  				$("#hab{{i.0.pk}}").addClass('btn-green');
		    	$("#hab{{i.0.pk}}").text("Certificar");
		    	$("#i{{i.0.pk}}").removeClass('fa-check-circle');
		    	$("#i{{i.0.pk}}").removeClass('i-green');
		    	$("#i{{i.0.pk}}").addClass('fa-times');
		    	$("#i{{i.0.pk}}").addClass('i-red');

		    }

		}                                          
    });
});
{% endfor %}
});
</script>
{% endblock JavaScript %}