{% extends "Partials/_Base.html" %}
{% load static %}
{% block Title %}
Inicio
{% endblock Title %}
{% block Style %}
{% endblock Style %}
{% block Content %}

<div class="section__content section__content--p30" style="top:10px;">
	<div class=" top row">
		<div class="col-md card " style="background: rgb(255,255,255,0); border-color:transparent;padding-top:5%">
			<div align="center" >
				<img src="{% static 'images/logo/01LogoGiro.png' %}" width="600px" height="400px" alt="" >
			</div>
			<div style="padding-left:18%; padding-right: 18%" align="justify">
				<h1 style="color:white;">No tiene acceso a esta ventana, por favor comuniquese con el administrador de la pagina.</h1>
			</div>

		</div>
	</div>
</div>

{% endblock Content %}
{% block JavaScript %}
{% endblock JavaScript %}