{% extends "Partials/_Base.html" %}
{% load static %}
{% block Title %}
Inicio
{% endblock Title %}
{% block Style %}
<style>
	th,p {
		font-size: 1.7hz;
		font-size: 1.7vh;
	}
	input {
		width: 80px;
	}
</style>
{% endblock Style %}
{% block Content %}

<div class="section__content section__content--p30">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md">
				<div class="card">
					<div class="card-header" style="background-color: rgb(82,183,78) ">
						<div  class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
					  		<a class="nav-item nav-link active" id="nav-Uni-tab" data-toggle="tab" href="#nav-Uni" role="tab" aria-controls="nav-Uni" aria-selected="true" style="color:rgb(85,85,89)">Información Almacenada</a>
					  	</div>
					</div>
					<div class="card-body">
						{% for i in camion %}
						<div class="row">
							<div class="col-md-10">
								<button type="button" class="btn btn-outline-primary btn-lg btn-block" data-toggle="modal" data-target="#modalt{{i.0.pk}}">{{i.0.Numero_Camiones}} TRACTOCAMIONES {{i.0.get_Categoria_display}} DEL AÑO {{i.0.Ano_Camion}} CON UN PESO BRUTO DE {{ i.0.get_Masa_display }}</button>
							</div>
							<div class="col-md-2">
								<a href="{% url 'CamionesTracto_elim' flota.pk i.0.pk %}"><button type="button" class="btn btn-outline-danger">Eliminar</button></a>
							</div>
						</div>
						<br>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="card">
				<div class="card-header" style="background-color: rgb(82,183,78) "> 
				  	<div  class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
				  		<a class="nav-item nav-link active" id="nav-Uni-tab" data-toggle="tab" href="#nav-Uni" role="tab" aria-controls="nav-Uni" aria-selected="true" style="color:rgb(85,85,89)">Añadir Información de Tractocamiones</a>
				  	</div>
				</div>
				<div class="card-body">
					<form action="{% url 'TractoCamiones' flota.pk %}" class="form-horizontal" method="POST" >
						{% csrf_token %}
					<div class="row">
						<div class="col-md-6">
							<br>
							<div class="table-responsive table--no-card m-b-30"  style="text-align: center;">
								<table class = "table table-bordered">
									<thead>
										<tr>
											<th>Tipo de Combustible</th>
											<th>N° de Camiones</th>
											<th>Año</th>
											<th>Tecnología</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>{{ Camiones_Tracto_Form.Categoria }}</td>
											<td>{{ Camiones_Tracto_Form.Numero_Camiones }}</td>
											<td>{{ Camiones_Tracto_Form.Ano_Camion }}</td>
											<td>{{ Camiones_Tracto_Form.Tecnologia }}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-md-6">
							<br>
							<div class="table-responsive table--no-card m-b-30"  style="text-align: center;">
								<table class = "table table-bordered">
									<thead>
										<tr>
											<th>Promedio carga útil por viaje (Ton)</th>
											<th>Promedio horas de ralentí Dia/Camión</th>
											<th>Días de operación al año</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>{{ Camiones_Tracto_Form.Promedio_Carga }}</td>
											<td>{{ Camiones_Tracto_Form.Promedio_Ralenti }}</td>
											<td>{{ Camiones_Tracto_Form.Dias_Operacion }}</td>
										</tr>
									</tbody>
								</table>
							</div>

						</div>
						
					</div>
					<div class="row">
						<div class="col-md">
							<br>
							<div class="table-responsive table--no-card m-b-30"  style="text-align: center;">
								<table class = "table table-bordered">
									<thead>
										<tr>
											<th>Kilometros promedio recorridos por Camión/Año</th>
											<th>Litros de combustible consumidos por Camión/Año</th>
											<th>Peso bruto vehicular</th>
											<th><p>Proporción recorrido tramo</p> <p>urbano/interurbano (%)</p></th>
											<th><p>Velocidad promedio</p><p>urbano/interurbano</p></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>{{ Camiones_Tracto_Form.Kilometros_Promedio }}</td>
											<td>{{ Camiones_Tracto_Form.Litros_Combustible }}</td>
											<td>{{ Camiones_Tracto_Form.Masa }}</td>
											<td>
												<div class="row" style="width:250px;">
													<div class="col-md-6">
														{{ Camiones_Tracto_Form.Proporcion_Urbano }}
													</div>
													<div class="col-md-6">
														{{ Camiones_Tracto_Form.Proporcion_Interurbano }}
													</div>
												</div>
											</td>
											<td>
												<div class="row" style="width:250px;">
													<div class="col-md-6">
														{{ Camiones_Tracto_Form.Velocidad_Urbano }}
													</div>
													<div class="col-md-6">
														{{ Camiones_Tracto_Form.Velocidad_Interurbano }}
													</div>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					{% if Camiones_Tracto_Form.errors %}
					    {% for field in Camiones_Tracto_Form %}
					        {% for error in field.errors %}
					            <div class="alert alert-warning" role="alert">
					                <strong>{{ error|escape }}</strong>
					            </div>
					        {% endfor %}
					    {% endfor %}
					    {% for error in form.non_field_errors %}
					        <div class="alert alert-warning" role="alert">
					            <strong>{{ error|escape }}</strong>
					        </div>
					    {% endfor %}
					{% endif %}
					<div style="text-align: right;">
						<button type="submit" class="btn btn-success">Agregar Información</button>
						
					</div>
				</form>
				</div>
				
			</div>
		</div>
	</div>
</div>

{% for i in camion %}
<div  class="modal fade bd-example-modal-lg" id="modalt{{i.0.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="false">
  <div class="modal-dialog modal-lg" style="max-width: 1200px;" role="document">
    <div class="modal-content">
      <div class="modal-header" align="center">
        <h5 class="modal-title " onclick="">Información</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">

            <form action="{% url 'CamionesTracto_edit' flota.pk i.0.pk %}" class="form-horizontal" method="POST" id="form{{i.0.pk}}">
				{% csrf_token %}
					<div class="row">
						<div class="col-md-6">
							<br>
							<div class="table-responsive table--no-card m-b-30"  style="text-align: center;">
								<table class = "table table-bordered">
									<thead>
										<tr>
											<th>Tipo de Combustible</th>
											<th>N° de Camiones</th>
											<th>Año</th>
											<th>Tecnología</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>{{ i.1.Categoria }}</td>
											<td>{{ i.1.Numero_Camiones }}</td>
											<td>{{ i.1.Ano_Camion }}</td>
											<td>{{ i.1.Tecnologia }}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-md-6">
							<br>
							<div class="table-responsive table--no-card m-b-30"  style="text-align: center;">
								<table class = "table table-bordered">
									<thead>
										<tr>
											<th>Promedio carga útil por viaje (Ton)</th>
											<th>Promedio horas de ralentí Dia/Camión</th>
											<th>Días de operación al año</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>{{ i.1.Promedio_Carga }}</td>
											<td>{{ i.1.Promedio_Ralenti }}</td>
											<td>{{ i.1.Dias_Operacion }}</td>
										</tr>
									</tbody>
								</table>
							</div>

						</div>
						
					</div>
					<div class="row">
						<div class="col-md">
							<br>
							<div class="table-responsive table--no-card m-b-30"  style="text-align: center;">
								<table class = "table table-bordered">
									<thead>
										<tr>
											<th>Kilometros promedio recorridos por Camión/Año</th>
											<th>Litros de combustible consumidos por Camión/Año</th>
											<th>Masa</th>
											<th><p>Proporción recorrido tramo</p> <p>urbano/interurbano (%)</p></th>
											<th><p>Velocidad promedio</p><p>urbano/interurbano</p></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>{{ i.1.Kilometros_Promedio }}</td>
											<td>{{ i.1.Litros_Combustible }}</td>
											<td>{{ i.1.Masa }}</td>
											<td>
												<div class="row" style="width:300px;">
													<div class="col-md-6">
														{{ i.1.Proporcion_Urbano }}
													</div>
													<div class="col-md-6">
														{{ i.1.Proporcion_Interurbano }}
													</div>
												</div>
											</td>
											<td>
												<div class="row" style="width:300px;">
													<div class="col-md-6">
														{{ i.1.Velocidad_Urbano }}
													</div>
													<div class="col-md-6">
														{{ i.1.Velocidad_Interurbano }}
													</div>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

					<div style="text-align: right;">
						<button type="submit" class="btn btn-success">Guardar</button>
						
					</div>
				</form>
      </div>
    </div>
  </div>
</div>
{% endfor %}                                                  
{% endblock Content %}
{% block JavaScript %}
<script>
$(document).ready(function(){
	$("#Proporcion_Interurbano").on('change', function(event) {
		if(this.value > 100){
			this.value = 0;
			$("#Proporcion_Urbano").val(0);
		}else{
			$("#Proporcion_Urbano").val(100 - this.value);
		}
	});
	$("#Proporcion_Urbano").on('change', function(event) {
		if(this.value > 100){
			this.value = 0;
			$("#Proporcion_Interurbano").val(0);
		}else{
			$("#Proporcion_Interurbano").val(100 - this.value);
		}
	});

	{% for i in camion %}
	   var config = {};
	    $("input",'#form{{i.0.pk}}').each(function () {
	     if(this.name == "Proporcion_Urbano"){ 
	     	this.id = 'pu{{i.0.pk}}';
	     }
	     if(this.name == "Proporcion_Interurbano"){ 
	     	this.id = 'pi{{i.0.pk}}';
	     }
	     if(this.name == "Velocidad_Urbano"){ 
	     	this.id = 'velu{{i.0.pk}}';
	     }
	     if(this.name == "Velocidad_Interurbano"){ 
	     	this.id = 'veli{{i.0.pk}}';
	     }
	    });
	{% endfor %}
	{% for i in camion %}
		$("#pu{{i.0.pk}}").on('change', function(event) {
			if(this.value > 100){
				this.value = 0;
				$("#pi{{i.0.pk}}").val(0);
			}else{
				$("#pi{{i.0.pk}}").val(100 - this.value);
			}
		});
		$("#pi{{i.0.pk}}").on('change', function(event) {
			if(this.value > 100){
				this.value = 0;
				$("#pu{{i.0.pk}}").val(0);
			}else{
				$("#pu{{i.0.pk}}").val(100 - this.value);
			}
		});
		$("#velu{{i.0.pk}}").on('change', function(event) {
			if(this.value > 100){
				this.value = 0;
				$("#veli{{i.0.pk}}").val(0);
			}else{
				$("#veli{{i.0.pk}}").val(100 - this.value);
			}
		});
		$("#veli{{i.0.pk}}").on('change', function(event) {
			if(this.value > 100){
				this.value = 0;
				$("#velu{{i.0.pk}}").val(0);
			}else{
				$("#velu{{i.0.pk}}").val(100 - this.value);
			}
		});
	{% endfor %}
});
</script>
{% endblock JavaScript %}