
<div class="header-mobile__bar">
    <div class="container-fluid">
        <div class="header-mobile-inner">
            <a class="logo" >
                <img src="" alt="CoolAdmin" />
            </a>
            <button class="hamburger hamburger--slider" type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
    </div>
</div>
<nav class="navbar-mobile">
    <div class="container-fluid">
        <ul class="navbar-mobile__list list-unstyled">
            <li class="has-sub" id="bord">
                <a class="js-arrow" href="{% url 'Index' %}">
                    <i class="fa fa-cc"></i>Inicio</i></a>

                    
            </li>
            <li class=" has-sub" id="bord">
                <a class="js-arrow" href="{% url 'MiInfo' %}">
                    <i class="fa fa-cc"></i>Mi Información</a>
                    
            </li>
            <li class="has-sub" id="bord">
                <a class="js-arrow" href="#">
                    <i class="fas fa-copy"></i>Descripción de flota</a>
                <ul class="list-unstyled navbar__sub-list js-sub-list">
                    <li>
                        <a href="{% url 'AdminFlota' %}">Flota</a>
                    </li>
                    <li>
                        <a href="{% url 'Fuentes_Informacion' %}">Fuentes de Información</a>
                    </li>
                </ul>
            </li>
            <li class="has-sub" id="bord">
                <a class="js-arrow" href="#">
                    <i class="fas fa-desktop"></i>Reportes</a>
                <ul class="list-unstyled navbar__sub-list js-sub-list">
                    <li>
                        <a href="{% url 'GenerarReporte' %}">Generar Reportes</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="{% url 'Validar' %}">Enviar Información</a>
            </li>
            <li>
                <a href="{% url 'Generar_Certificado' %}">Generar Certificado</a>
            </li>        </ul>
    </div>
</nav>
