
<div class="header-mobile__bar">
    <div class="container-fluid">
        <div class="header-mobile-inner">
            <a class="logo" >
                <img src="" alt="CoolAdmin" />
            </a>
            <button class="hamburger hamburger--slider" type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
    </div>
</div>
<nav class="navbar-mobile">
    <div class="container-fluid">
        <ul class="navbar-mobile__list list-unstyled">
            <li class="has-sub">
                <a class="js-arrow" href="#">
                    <i class="fa fa-cc"></i>Mi Información</a>
                    
            </li>
            <li class="has-sub">
                <a class="js-arrow" href="#">
                    <i class="fas fa-copy"></i>Descripción de flota</a>
                <ul class="list-unstyled navbar__sub-list js-sub-list">
                    <li>
                        <a href="login.html">Camiones</a>
                    </li>
                    <li>
                        <a href="register.html">Tractocamiones</a>
                    </li>
                
                </ul>
            </li>
            <li class="has-sub">
                <a class="js-arrow" href="#">
                    <i class="fas fa-desktop"></i>Reportes</a>
                <ul class="list-unstyled navbar__sub-list js-sub-list">
                    <li>
                        <a href="button.html">Generar Reportes</a>
                    </li>
                    <li>
                        <a href="button.html">Generar Archivo</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
