{% load static %}
<div class="logo">
    <a href="{% url 'Index_Generador' %}">
        <img src="{% static 'images/logo/01LogoGiro.png' %}" alt="GiroLimpio" />
    </a>
</div>
<style>
    
#bord {
    border-radius: 0px 111px 111px 111px;
    -moz-border-radius: 0px 111px 111px 111px;
    -webkit-border-radius: 0px 111px 111px 111px;
    border: 0px solid #ffffff;
}
</style>
<div class="menu-sidebar__content js-scrollbar1" >
    <nav class="navbar-sidebar" >
        <ul class="list-unstyled navbar__list" >
            <li class="has-sub" id="bord">
                <a class="js-arrow" href="{% url 'Index_Generador' %}">
                    <i class="fa fa-cc"></i>Inicio </a>

                    
            </li>
            <li class=" has-sub" id="bord">
                <a class="js-arrow" href="{% url 'MiInfoGen' %}">
                    <i class="fa fa-cc"></i>Mi Información</a>
                    
            </li>
            <li class="has-sub" id="bord">
                <a class="js-arrow" href="{% url 'OpTransporte' %}">
                    <i class="fas fa-copy"></i>Operación de Transporte</a>
            </li>   
        </ul>
    </nav>
</div>
